<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a Todo Item</h1>
    <!-- form that allows users to input a task name and select a checkbox 
        to mark it as "done". When submitted, the form will send 
        a POST request to the "add" URL. 
    -->
    <form method="POST" , action="add">
        <!-- This is a Django template tag for generating a CSRF token. -->
        <!-- It adds a unique and random token to a hidden form field, 
            which is used to verify that the form submission was made by 
            the same user and prevents cross-site request forgery attacks. -->
        {% csrf_token %}
        <!-- Adding form template variable -->
        {{ form }}
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
</body>

</html>