<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>

<body>
    <h1>Edit Todo Item</h1>
    <!-- form allows users to edit a task name and select a checkbox 
        to mark it as "done". The form sends a POST request to 
        the "add" URL when submitted. -->
<form method="POST" 
    -->
    <form method="POST">
        <!-- This is a Django template tag for generating a CSRF token. 
        It adds a unique and random token to a hidden form field, 
        which is used to verify that the form submission was made by 
        the same user and prevents cross-site request forgery attacks. -->
        {% csrf_token %}
        <!-- Adding form template variable -->
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>
    </form>
</body>

</html>